QuanLyNhaHang/BLL/obj/
QuanLyNhaHang/DAL/obj/DAL.csproj.nuget.cache
QuanLyNhaHang/DAL/obj/
QuanLyNhaHang/GUI/obj/Debug/
QuanLyNhaHang/Model/obj/
QuanLyNhaHang/.vs/QuanLyNhaHang/v16/.suo
QuanLyNhaHang/Model/bin/
QuanLyNhaHang/GUI/bin/
